@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #4a90e2;
  --text-color: #333;
  --background-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #797b7c;
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
}

/* Start Header */

header nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

header nav h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-color);
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul a {
  transition: color 0.1s ease;
}

header nav ul a:hover,
header nav ul a.active {
  color: var(--primary-color);
}

/* End Header */

/* Start Content */

.content section {
  min-height: 100dvh;
  width: 100%;
  padding: 0 150px;
}

.content section:not(:first-child) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content section:first-child {
  padding-top: 80px;
}

.content section:nth-child(odd) {
  background-color: #fff;
}

/* Start Hero */

#hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero .hero-content {
  font-size: 18px;
}

#hero .hero-content span {
  font-weight: 500;
  color: var(--primary-color);
}

#hero .hero-content .hero-person {
  line-height: 1.5;
}

#hero .hero-content h1 {
  font-size: 42px;
}

#hero .hero-content h2 {
  font-size: 28px;
}

#hero .hero-content h2 span {
  font-weight: 600;
  color: var(--primary-color);
}

#hero .hero-content p {
  color: #4e4e4e;
}

#hero .hero-content a {
  margin-top: 20px;
}

#hero .hero-image {
  width: 350px;
  height: 350px;
}

#hero .hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* End Hero */

/* Start About */

#about .about-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
}

#about .about-content > div {
  padding: 20px 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#about .about-content > div h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

#about .about-content > div p {
  font-size: 16px;
  line-height: 1.6;
  color: #4e4e4e;
  text-align: justify;
}

#about .about-content .about-content-right ul {
  list-style: circle;
  padding-left: 20px;
}

/* End About */

/* Start Projects */

#projects {
  padding: 8rem 150px;
}

#projects .projects-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 30px;
  justify-content: space-between;
}

#projects .project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#projects .project-info {
  margin: 10px 0;
}

#projects .project-info h4 {
  font-size: 18px;
}

#projects .project-info p {
  color: #4e4e4e;
}

/* End Projects */

/* Start Contact */
#contact {
  padding: 8rem 150px;
}
#contact .contact-content {
  margin-top: 3rem;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#contact .contact-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

#contact .contact-content form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#contact .contact-content form .form-group label {
  font-size: 16px;
  color: #4e4e4e;
}

#contact .contact-content form .form-group input,
#contact .contact-content form .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #4e4e4e;
}

#contact .contact-content form .form-group textarea {
  resize: none;
  height: 150px;
}

#contact .contact-content form button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* End Contact */

/* End Content */

/* Start Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 150px;
  text-align: center;
}

/* End Footer */
